div
<h1>
        <a href="/survivor" class="btn btn-primary">Home</a>
    </h1>
<h1 class="welcome">Red Flag Volunteer
</h1>
<p class="welcome">Welcome to the Survivor Web Application powered by {{title}}</p>
<form action="../survivor/index">
    <input type="submit" value="let's start" />
</form>