body {
  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


#arranger{
  display: flex;
  margin-top:10px;
}
.card-img-top{
  height:20em;

}
.btn-primary{
  padding:2px;
  color:grey;
  border-color: grey;
  background: none;

}
.btn-danger{
  padding:2px;
  color:grey;
  border-color: grey;
  background: none;

}