body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  
}
.carousel{
  margin:10%;
}

#arranger{
  display: flex;
  margin-top:10px;
}
.card-img-top{
  height:20em;

}
.btn{
  margin:3%;
}
.btn-primary{
  padding:2px;
  color:grey;
  border-color: grey;
  background: none;

}
.btn-danger{
  padding:2px;
  color:grey;
  border-color: grey;
  background: none;

}
.showButton{
  margin:1%;
}
.showFooter{
  display: flex;
  flex-wrap: wrap;
}
.newEquipment{
  margin:2%;
}
.welcome{
  font-family: 'Bangers', cursive;
  color:#dc3545; 
  text-align: center;
  text-shadow: 1px 1px 1px black;
}