<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <a href="/survivor" class="btn btn-primary">Home</a>
  </h1>
  {{{body}}}

</body>

</html>