<h1>Create New Survivor Instance</h1>

<form action="/survivor" method="POST">

  <div>
    <label for="title">Survivor Title</label>
    <input type="text" name="title" placeholder="Survivor Title" />
  </div>
  <div>
    <label for="description">Survivor Description</label>
    <textarea 
    type="text" 
    name="description" 
    placeholder="Survivor Description"></textarea>
  </div>
  <div>
    <label for="subject">Survivor subject</label>
    <input type="text" name="subject" placeholder="Survivor subject" />
  </div>
  <div>
    <label for="createdBy">Survivor createdBy</label>
    <input type="text" name="createdBy" placeholder="Survivor createdBy" />
  </div>
  <div>
    <label for="dueDate">Survivor dueDate</label>
    <input type="date" name="dueDate" />
  </div>
  <button type="submit">Save Survivor</button>
</form>